html {
    background-color: white;
}

// // 
// // Project colors ---------------------

$color-primary: #7F7758;
$color-secondary: #FEF5CE;
$color-grey: #BFBFBF;
$color-body: black;


// // 
// // Party colors-------------------------

$pc-dark: #1A4782;
$pc-light:#7CA4BF;
$ndp-dark: #F37221;
$ndp-light: #FEA66F;
$lib-dark:#D71920;
$lib-light: #FE555F;
$green-dark: #378D30;
$green-light: #7FBF7A;
$bloc-dark:#4E99DC;
$bloc-light:#66C3DC;
$other-dark: #77117F;

$font-title: 'Merriweather', serif;
$font-body: 'Lato', sans-serif;


// // 
// // Colors ------------------------------
.color-containers {
    margin: 0 -5px;
	overflow: hidden;
}

.color-container {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 5px;
	border-radius: 3px;
    color: grey;
}

.color-containers .color-primary {
	background-color: $color-primary;
}

.color-containers .color-secondary {
	background-color: $color-secondary;
}

.color-containers .color-grey {
	background-color: $color-grey;
}

.color-containers .color-body {
	background-color: $color-body;
}

.color-containers .pc-dark {
	background-color: $pc-dark;
    
}

.color-containers .pc-light {
	background-color: $pc-light;
}

.color-containers .ndp-dark {
	background-color: $ndp-dark;
}

.color-containers .ndp-light {
	background-color: $ndp-light;
}

.color-containers .lib-dark {
	background-color: $lib-dark;
}

.color-containers .lib-light {
	background-color: $lib-light;
}

.color-containers .green-dark {
	background-color: $green-dark;
}

.color-containers .green-light {
	background-color: $green-light;
}

.color-containers .bloc-dark {
	background-color: $bloc-dark;
}

.color-containers .bloc-light {
	background-color: $bloc-light;
}

.color-containers .other-dark {
	background-color: $other-dark;
}


// // 
// // Fonts-----------------------

body {
  font-family: $font-body;
  color: $color-body;
}

.font h1, .font h2, .font h3, .font h4 {
  font-family: $font-title;
  color: $color-primary;
}