html {
    background-color: white;
}

a {
  color: #424242;
}

// // 
// // Project colors ---------------------

$color-header:#A87169;
$color-primary: #524950;
$color-secondary: #EF8373;
$color-grey: #93979D;
$color-body: black;



$ps-brand-color: #F2AC17;


// // 
// // Party colors-------------------------

$pc-dark: #1A4782;
$pc-light:#7CA4BF;
$ndp-dark: #F37221;
$ndp-light: #FEA66F;
$lib-dark:#D71920;
$lib-light: #FE555F;
$green-dark: #378D30;
$green-light: #7FBF7A;
$bloc-dark:#4E99DC;
$bloc-light:#66C3DC;
$other-dark: #77117F;

$font-title: 'Merriweather', serif;
$font-body: 'Lato', sans-serif;


// // 
// // Colors ------------------------------
.color-containers {
    margin: 0 -5px;
	overflow: hidden;
}

.color-container {
	float: left;
	width: 100px;
	height: 100px;
	margin: 0 5px 10px;
	border-radius: 3px;
    color: #fff;
}

.color-containers .color-header {
	background-color: $color-header;
}

.color-containers .color-primary {
	background-color: $color-primary;
}

.color-containers .color-secondary {
	background-color: $color-secondary;
}

.color-containers .color-grey {
	background-color: $color-grey;
}

.color-containers .color-body {
	background-color: $color-body;
}

.color-containers .pc-dark {
	background-color: $pc-dark;
    
}

.color-containers .pc-light {
	background-color: $pc-light;
}

.color-containers .ndp-dark {
	background-color: $ndp-dark;
}

.color-containers .ndp-light {
	background-color: $ndp-light;
}

.color-containers .lib-dark {
	background-color: $lib-dark;
}

.color-containers .lib-light {
	background-color: $lib-light;
}

.color-containers .green-dark {
	background-color: $green-dark;
}

.color-containers .green-light {
	background-color: $green-light;
}

.color-containers .bloc-dark {
	background-color: $bloc-dark;
}

.color-containers .bloc-light {
	background-color: $bloc-light;
}

.color-containers .other-dark {
	background-color: $other-dark;
}

.brandcolor {
  color: $ps-brand-color;
}

.badge.brandcolor {
  background-color: $ps-brand-color;
  color: #fff;
}

// // 
// // Badges ------------------------------

.badge {
  font-family: $font-body;
  border-radius: 5px;
  margin-bottom: 5px;
}

// // 
// // Fonts-----------------------

body {
  font-family: $font-body;
  color: $color-body;
}

.font h1, .font h2,.font h3, .font h4 {
  font-family: $font-title;
  
}

.font h1, .font h2 {
  color: $color-header;
}

.font h3 {
  color: $color-secondary;
}

.font h4 {
  color: $color-grey  ;
}

a.link {
  color: $color-grey;
  text-decoration: none;
}

a.link:hover {
  color: $color-secondary;
  text-decoration: none;
}

// // 
// // Buttons-----------------------

button.btn {
  background-color: $color-grey;
  border: none;
  color: #fff;
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 6px 30px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}


button.btn:hover {
  background-color: $color-primary;
  color: #fff;
}

.btn.ghost {
  background-color: #fff;
  color: $color-primary;
  border: 1.5px;
  border-style: solid;
  border-color: $color-grey;
  box-shadow: none;  
}

.btn.ghost:hover {
  border-color:$color-primary;
}

// // 
// // Bar Charts-----------------------

.chart {
    width: 45%;
}

.chart rect {
  fill: $color-primary;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: end;
}

rect:hover{
 fill: $color-secondary;
}